<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Pham Ngoc Vinh">
    <title>Fortuna v1.0</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body class="d-flex h-100 text-center text-bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto"></header>

    <main class="px-3">
        <h1>FORTUNA</h1>
        <div>
            <form class="row g-3" action="{% url 'bingo:join' %}" method="get">
                {% csrf_token %}
                <fieldset>
                    <input type="text" name="userid" placeholder="Enter your account" required/>
                    <input type="submit" class="btn btn-primary" value="JOIN">
                </fieldset>
            </form>
        </div>
    </main>

    <footer class="mt-auto"></footer>
</div>
<script src="{% static 'bootstrap.min.js' %}"></script>
</body>
</html>
