<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Bingo Card</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>

    <style>
        .highlight {
          background-color: yellow !important;
        }
    </style>
</head>
<body class="text-center text-bg-dark">
<div class="container-fluid">
    <h1>User: {{userid}}</h1>
    <h1>Date: {{formatted_date}}</h1>
    <div class="table-responsive d-lg-none">
        <table id="myTable" class="table table-bordered">
            {% for row in random_numbers %}
            <tr>
                {% for col in row %}
                {% if col == '$$' %}
                <td class="table-warning"
                    style="text-align: center; vertical-align: middle; height: 200px; font-size: 60px; font-weight: bolder;"
                >{{ col }}
                    {% else %}
                <td style="text-align: center; vertical-align: middle; height: 200px; font-size: 60px; font-weight: bolder;"
                >{{ col }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="table-responsive d-none d-lg-block">
        <table id="myTable" class="table table-bordered">
            {% for row in random_numbers %}
            <tr>
                {% for col in row %}
                {% if col == '$$' %}
                <td class="table-warning"
                    style="text-align: center; vertical-align: middle; height: 120px; font-size: 60px; font-weight: bolder;"
                >{{ col }}
                    {% else %}
                <td style="text-align: center; vertical-align: middle; height: 120px; font-size: 60px; font-weight: bolder;"
                >{{ col }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <a href="{% url 'bingo:index' %}" class="btn btn-danger fw-bold">Back</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script>
    // Get all table cells
    const cells = document.querySelectorAll('#myTable td')

    // Loop through each cell and add click event listener
    cells.forEach((cell) => {
      cell.addEventListener('click', () => {
        // Toggle highlight on the clicked cell
        cell.classList.toggle('table-warning')
      })
    })
</script>
</body>
</html>
