<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Pham Ngoc Vinh">
    <title>Bingo Card</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body class="d-flex h-100 text-center text-bg-dark">

<div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
    </header>

    <main>
        <h1 style="font-weight: bolder;">Fortuna Bingo</h1>
        <h1>User: {{userid}}</h1>
        <h1>Date: {{formatted_date}}</h1>
        <div class="table-responsive d-lg-none">
            <table id="myTable" class="table table-bordered">
                {% for row in random_numbers %}
                <tr>
                    {% for col in row %}
                    {% if col == '$$' %}
                    <td class="table-warning"
                        style="text-align: center; vertical-align: middle; font-size: 40px; font-weight: bolder;"
                    >{{ col }}
                        {% else %}
                    <td style="text-align: center; vertical-align: middle; font-size: 40px; font-weight: bolder;"
                    >{{ col }}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="table-responsive d-none d-lg-block">
            <table id="myTable" class="table table-bordered">
                {% for row in random_numbers %}
                <tr>
                    {% for col in row %}
                    {% if col == '$$' %}
                    <td class="table-warning"
                        style="text-align: center; vertical-align: middle; height: 80px; font-size: 50px; font-weight: bolder;"
                    >{{ col }}
                        {% else %}
                    <td style="text-align: center; vertical-align: middle; height: 80px; font-size: 50px; font-weight: bolder;"
                    >{{ col }}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <a href="{% url 'bingo:index' %}" class="btn btn-danger fw-bold">Back</a>
    </main>

    <footer class="mt-auto text-white-50">
    </footer>
</div>
<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'table.event.js' %}"></script>
</body>
</html>
