<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Pham Ngoc Vinh">
    <title>Bingo Card</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body class="d-flex h-100 text-center text-bg-dark">

<div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
    </header>

    <main>
        <h1 style="font-weight: bolder;">Bingo Card</h1>
        <h1>
            <svg style="margin-bottom: 8px;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                 class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd"
                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
            {{userid}}
        </h1>
        <h1>
            <svg style="margin-bottom: 8px;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                 class="bi bi-calendar2-week" viewBox="0 0 16 16">
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
                <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5zM11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
            </svg>
            {{formatted_date}}
        </h1>
        <div class="table-responsive d-lg-none">
            <table id="myTableS" class="table table-bordered">
                {% for row in random_numbers %}
                <tr>
                    {% for col in row %}
                    {% if col == '$$' %}
                    <td class="table-warning"
                        style="text-align: center; vertical-align: middle; font-size: 40px; font-weight: bolder;"
                    >{{ col }}</td>
                        {% else %}
                    <td style="text-align: center; vertical-align: middle; font-size: 40px; font-weight: bolder;"
                    >{{ col }}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="table-responsive d-none d-lg-block">
            <table id="myTableL" class="table table-bordered">
                {% for row in random_numbers %}
                <tr>
                    {% for col in row %}
                    {% if col == '$$' %}
                    <td class="table-warning"
                        style="text-align: center; vertical-align: middle; height: 80px; font-size: 50px; font-weight: bolder;"
                    >{{ col }}</td>
                        {% else %}
                    <td style="text-align: center; vertical-align: middle; height: 80px; font-size: 50px; font-weight: bolder;"
                    >{{ col }}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <a href="{% url 'bingo:index' %}" class="btn btn-danger fw-bold">Back</a>
    </main>

    <footer class="mt-auto text-white-50">
    </footer>
</div>
<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'table.event.js' %}"></script>
</body>
</html>
